@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 25px;
}

h3{
  font-size: 20px;
}
body{
  width: 100%;
  height: 100%;
  background: #171B1E;
}

header{
  display: inline;
}

nav{
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;

  width: 100%;
  height: 50px;
  background: #1B232F;
  box-shadow: 0 4px 8px -6px black;
}

#logo{
  width: 900px;
}

#content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  width: 100%;
  height: 100%;
}

jumbotron-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  height: 300px;
}

search-bar{
  display: flex;
  margin-top: 20px;
  width: 900px;
  height: 50px;
}

article-container{
  margin-top: 20px;
  width: 900px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background: #1B232F;
}

@media screen and (max-width: 600px){
  h1{
    font-size: 20px;
  }
  
  h2{
    font-size: 15px;
  }
  
  h3{
    font-size: 10px;
  }

  body{
    width: 100%;
    height: 100%;
    background: #171B1E;
  }
  
  header{
    display: inline;
  }
  
  nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 50px;
    background: #1B232F;
    box-shadow: 0 4px 8px -6px black;
  }
  
  #logo{
    width: 90%;
  }
  
  #content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    width: 100%;
    height: 100%;
    
  }
  
  jumbotron-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 780px;
  }

  search-bar{
    display: flex;
    margin-top: 20px;
    width: 90%;
    height: 50px;
  }
  
  article-container{
    margin-top: 20px;
    width: 90%;
  }
  
  footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: #1B232F;
  }
}






